/*Articulo completo*/
/* line 4, ../sass/articulo.scss */
#topBar,
.ccLicense {
  display: none;
}

/* line 8, ../sass/articulo.scss */
#content {
  font-family: LatoBold;
  font-size: 1em;
  color: #e94b63;
}
/* line 13, ../sass/articulo.scss */
#content #articleTitle h3 {
  font-family: LatoItalic;
  font-size: 1.6em;
  margin-bottom: 0.5em;
  width: 95%;
  margin-top: 0.8em;
  color: #000000;
  display: block;
}
/* line 23, ../sass/articulo.scss */
#content h3 {
  display: inline;
  margin-left: 16px;
  margin-right: 430px;
  color: #E94B63;
  font-family: LatoBold;
  font-size: 1em;
}
/* line 32, ../sass/articulo.scss */
#content .separator {
  color: #F0F0F0;
}
/* line 35, ../sass/articulo.scss */
#content:after {
  clear: both;
}

/* line 40, ../sass/articulo.scss */
#content ul.plain {
  color: #989898;
  font-family: LatoBold;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.2em;
  text-align: left;
  text-decoration: none;
  word-spacing: normal;
}
/* line 51, ../sass/articulo.scss */
#content ul.plain li {
  margin-left: 2em;
  line-height: 1.6em;
}
/* line 55, ../sass/articulo.scss */
#content ul.plain:after {
  clear: both;
}

/* line 60, ../sass/articulo.scss */
#authorString em {
  color: #e94b63;
  font-family: LatoBold;
  font-style: normal;
  font-size: 1.1em;
  line-height: 0.7em;
  margin-left: 16px;
}

/* line 69, ../sass/articulo.scss */
#articleAbstract {
  width: 42%;
  margin-left: 38px;
  margin-top: -20px;
  font-family: 'DroidSerif';
  background-color: #fff;
  color: #454545;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.4em;
  /*font-size: 1em;*/
  font-size: 1.12em;
  float: left;
  margin-right: 2em;
}
/* line 70, ../sass/articulo.scss */
#articleAbstract:after {
  clear: both;
}
/* line 88, ../sass/articulo.scss */
#articleAbstract h4 {
  color: #e94b63;
  font-family: LatoBold;
  font-size: 1em;
  margin-top: 29px;
}
/* line 95, ../sass/articulo.scss */
#articleAbstract div {
  margin-top: -14px;
}

/* line 100, ../sass/articulo.scss */
#articleSubject {
  margin-top: 0.7em;
  float: left;
  width: 24%;
  border-bottom: 1px solid #989898;
  margin-bottom: 0.5em;
}
/* line 102, ../sass/articulo.scss */
#articleSubject div {
  /*font-family:LatoBold;*/
  font-family: LatoRegular;
  color: #989898;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.2em;
  font-size: 1em;
}
/* line 118, ../sass/articulo.scss */
#articleSubject h4, #articleSubject div {
  margin-bottom: -0.5em;
}

/* line 122, ../sass/articulo.scss */
div.separator {
  border-bottom: 1px solid #989898;
  float: left;
  width: 24%;
  height: 0.2em;
  margin-bottom: 0.5em;
}

/* line 130, ../sass/articulo.scss */
p + div.separator {
  display: none;
}

/* line 134, ../sass/articulo.scss */
#articleSubject h4 {
  color: #E94B63;
  font-size: 1em;
  font-family: LatoBold;
}

/* line 141, ../sass/articulo.scss */
#articleSubject h4, #articleSubject div {
  margin-left: 0em;
}
/* line 142, ../sass/articulo.scss */
#articleSubject div {
  margin-bottom: -0.5em;
}

/* line 145, ../sass/articulo.scss */
#content a.file {
  margin-top: 1em;
  width: 24%;
  float: left;
  background-image: url("../img/descargar.png");
  background-repeat: no-repeat;
  /*  padding-left:2.5em;*/
  height: 3em;
  color: #e94b63;
  background-position: left top;
  padding-top: 3em;
  margin-bottom: -1.5em;
}

/* line 158, ../sass/articulo.scss */
p a.action {
  background-image: url("../img/descargar.png");
  background-repeat: no-repeat;
  color: #E94B63;
  font-family: LatoBold;
  font-size: 0.8em;
  line-height: 4em;
  padding: 10px 10px 20px 40px;
}

/* line 168, ../sass/articulo.scss */
a.file:hover {
  color: #989898;
}

/* line 172, ../sass/articulo.scss */
div#content a.action {
  background-color: #E94B63;
  border-style: none;
  color: #FFFFFF;
  font-family: Bariol_regularregular;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: normal;
  padding: 3px 5px;
  position: relative;
  top: 16px;
  left: 10px;
}
/* line 188, ../sass/articulo.scss */
div#content a.action:hover {
  color: #000;
}
