/* menu horitzontal */
/* line 3, ../sass/submissions.scss */
#content ul.plain {
  font-size: 0.7em;
  font-family: LatoRegular;
  text-transform: uppercase;
  background-color: #f0f0f0;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 16px;
  border-bottom: 1px solid #e94b63;
}
/* line 14, ../sass/submissions.scss */
#content ul.plain li {
  display: inline;
  color: #f0f0f0;
  padding-left: 10px;
  line-height: 2em;
}
/* line 19, ../sass/submissions.scss */
#content ul.plain li a {
  color: #e94b63;
  padding-left: 6px;
  padding-right: 6px;
}
/* line 26, ../sass/submissions.scss */
#content ul.plain li a:hover, #content ul.plain li a.activeItem, #content ul.plain li a:active {
  font-family: LatoBold;
  background-color: #fff;
  padding-bottom: 6px;
  padding-top: 6px;
  border-left: 1px solid #e94b63;
  border-right: 1px solid #e94b63;
  border-top: 1px solid #e94b63;
}
