/*Anuncios*/

table.announcements tr {
  /*padding-bottom:0.5em;*/
  /*margin-bottom:0.5em;*/
}

#content td.title h4 {
  font-family: LatoBoldItalic;
  color: #000000;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.2em;
  font-size: 1em;
  padding-top:1em;
}

td.description,
td.posted,
td.more a {
  font-family: LatoLight;
  color: #989898;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.4em;
  font-size: 0.8em;
  margin-bottom:1em;
  p {
    margin: 0px;
  }
}
td.description {
  font-size: 0.8em;
}

td.posted {
  color:#e94b63;
}
td.more a {
  background: {
    image: url('../img/mas.png');
    position: 100% 100%;
    repeat: no-repeat; }
  margin: {
    right: -10px; }
  text-indent: -9999px;
  display: block;
  height: 25px;
  width: 25px;
  position: relative;
  right: 10px;
  top: 13px;
}

table.announcements td.posted {
  padding-bottom: 1em;
}

table.announcements {
  td.endseparator {
    padding-bottom:2em;
    border-top: 3px solid #f0f0f0;
  }
  td.separator {
    border: 1px solid #f0f0f0;
  }
}

table.announcements td {
  font-family: LatoRegular;
  strong {
    font-weight: normal;
  }
}


/*table.announcements tr.description {
  td.description {
    p:last-of-type {
      margin-bottom: 1.5em;
    }
  }
}*/
