/*Backend*/


/*Submit*/

#breadcrumb {
  padding-bottom:0.5em;
}
#content {
  font-family:bariol_regularregular;
  margin-top:0.5em;
  h3 { 
    padding-bottom:0.5em;
  }
  h4 { 
    font-family: bariol_regularregular; 
    padding-top: 1.8em;
    padding-bottom: 0em;
    margin-bottom: -0.5em;
  }
        
  a { color:#e94b63;}
  a:hover { color:#454545;}
}

a:link {
}
a:hover{
}





/*Editor*/

form {
/* margin-top:1em;*/
 .selectMenu {width:100%;}
}

#content > ul li, 
#content > * {
  margin-right:0px;
}

table.listing {
  td a.action {
    padding:0px;
    line-height:2em;
  }
  tr {height:1em;}
}

table.listing tr.heading td, 
table.listing td.heading, 
table.info td.heading {
  text-align:left;
  width:11%;
}

.filter:focus {
  background-color:#6d6d6d;
}

#issues {
  margin-top:1em;
  color:#6d6d6d;
  a:link {color:#6d6d6d;}
  tr td.endseparator {padding-top:1em;
                   padding-bottom:0.2em;}
  tr td {padding-top:0.2em;
      padding-bottom:0.2em;}

}

/*Formularios gestión general*/

#emails,
table.data,
#reviewForms,
#announcementList {
  a { padding: 0px;}
}
#emails .heading td {
  width:20%;
}
#selectSections input[type="checkbox"] {
  padding:2px;
}

#notifications td.notificationFunction {
 display:block;
}

#notificationSettings h4  { 
  padding-bottom:0.5em;
  color:#e94b63;
}
#notificationSettings ul { 
  list-style:none;
  li li { line-height: 2em;}
 }

#content ul {
  padding-top:0.5em;
  list-style:none;
  a { width: 100%;}
}

/*Submit article*/

#submitStart,
#referrals {
  h4  { font-family:bariol_regularregular;}
  a { padding-left:0px;}
}
#content h3 { 
  font-family:bariol_regularregular;
  color:#000000;
}
#authors,
#uploadInstructions {
  color:#000000;
}

div.separator { display:none;}

#addSubmissionFile a.action {
  float:left;
}
#content {
  div#section,
  div#submissionLocale,
  div#checklist,
  div#copyrightNotice,
  div#privacyStatement,
  div#commentsForEditor,
  div#submissionFile,
  div#authors,
  div#titleAndAbstract,
  div#indexing,
  div#submissionSupportingAgencies,
  div#openAIRE,
  div#addSubmissionFile,
  div#submissionFile,
  div#metaCitations {
    h3 {
     /*margin-left:0px;*/
     /*font-size: 1.6em;*/
     /*font-family:Bariol_regularregular;*/
     /*text-transform:uppercase;*/
     /*padding-top:1.6em;*/
     /*display: block;*/
     /*width: 100%;*/
     margin-bottom: -0.5em;
     padding-bottom: 0px;
   }
  table {
    margin-top: 0.8em;
  }
   ul li,
   ol li,
   p{
     font-family: Bariol_regularregular;
     font-size: 1em;
   }
  }
  div#section h3 {
    padding-top: 0px;
  }
}
#content ul.steplist {
  margin-bottom:1em;
}
input.button {
  background-color:#E94B63;
  border-style:none;
  color:#FFFFFF;
  font-family:Bariol_regularregular;
  font-size:0.8em;
  letter-spacing:1px;
  line-height:1.5em;
  text-align:left;
  text-decoration:none;
  text-transform:uppercase;
  word-spacing:normal;
}


/*Pagina área personal*/

#content div#myAccount ul.plain {
  font-size: 1em; 
  text-transform: none; 
  background-color: #ffffff; 
  margin-left: -16px; 
  border-style: none; 
  li { 
    display: block; 
    padding-left: 0px; 
    padding-top: 0px;
    line-height: 1em; 
    margin-left: 0px;
    color: #111111;
    a { 
      margin-left: 0px; 
      font-family: Bariol_regularregular;
      color: #E94B63; 
      text-decoration: none; 
      word-spacing: 0.2em; 
      text-align: left; 
      letter-spacing: 0; 
      line-height: 1.9em; 
      font-size: 1em; 
      padding: 0px; 
    }  
    a:hover { 
      color: #454545; 
      border-style: none; 
    }
  }
}


/*Menús horitzontals pestanyes*/


#body div#content ul.menu,
#body div#content ul.steplist {
  /* quiron: els ul.menu estan a 444px
   * (per els del frontend)
   * però els menus poden ocupar lample
   * de la col central
   */
  width: 704px;
  position: relative;
  padding-top:0.5em;
  text-align:left;
  margin-bottom:0.5em;
  padding-bottom:0.5em;
  /*width: auto;*/
  font: { 
      size: 0.7em; 
      family: LatoRegular; } 
  text-transform: uppercase; 
  background-color: #f0f0f0; 
  padding: { 
    top: 0px; 
    bottom: 0px; } 
  margin-left: 0px; 
  border-bottom: 1px solid #E94B63; 
  li { 
    display: inline; 
    color: #f0f0f0; 
    /* quiron: queden masses espais en blanc
     * i fa salts de linia
     */
    /*padding-left: 46px; */
    padding-left: 8px;
    line-height: 2em; 
    a { 
      color: #e94b63; 
      padding: { 
        bottom: 4px; 
        top: 3px; } 
      border-left: 1px solid #f0f0f0; 
      border-right: 1px solid #f0f0f0; 
      border-top: 1px solid #f0f0f0; 
      &.activeItem, 
      &:hover, 
      &:active { 
        background-color: #fff; 
        padding-bottom: 5px;
        border-left: 1px solid #e94b63; 
        border-right: 1px solid #e94b63; 
        border-top: 1px solid #e94b63; 
        border-bottom: 2px solid white;
      } 
      &.activeItem {
        font-family: LatoBold; 
      }
    } 
    &.current a {
     background-color: #fff; 
     padding-bottom: 5px;
     border-left: 1px solid #e94b63; 
     border-right: 1px solid #e94b63; 
     border-top: 1px solid #e94b63; 
     border-bottom: 1px solid white;
     font-family: LatoBold; 
    }
  }
}

/** Sobrescrit pel comportament
 * de les steplist
 */
#body div#content ul.steplist {
  li {
    color: #e94b63;
    text-align: center;
    /* als steplist tenen noms llargs
     * així evitem que salti de linia
     * a la meitat
     */
    white-space: nowrap;
    padding: {
      top: 4px;
      right: 20px;
      left: 20px;
    }
    &.current {
     background-color: #fff; 
     padding-bottom: 5px;
     border-left: 1px solid #e94b63; 
     border-right: 1px solid #e94b63; 
     border-top: 1px solid #e94b63; 
     border-bottom: 2px solid white;
     font-family: LatoBold; 
     padding-left: 8px;
     a {
       border: 0px none;
     }
    }
  }
}
#body div#content ul.steplist a {
  padding-left: 2px;
  padding-right: 2px;
}

/*color fons taules*/

#submissions table.listing {
  tr.highlight {
    background: none repeat scroll 0 0 #D6D6D6;
  }
  tr.fastTracked {
    background-color: #f0f0f0;
  }
  tr.heading td[width="5%"] {
    width: 5%;
  }
  tr.heading td[width="15%"] {
    width: 20%;
  }
  tr.heading td[width="25%"] {
    width: 25%;
  }
  tr.heading td[width="30%"] {
    width: 25%;
  }
  tr.heading td[width="35%"] {
    width: 30%;
  }
  tr.heading td[width="50%"] {
    width: 50%;
  }
  tr.heading td[width="60%"] {
    width: 50%;
  }
  tr.heading td[width="10%"] {
    width: 9%;
  }
  td {
    padding-right: 5px;
    padding-left: 5px;
  }
  table.nested td {
    border: {
      bottom: 0px none;
      top: 2px solid rgb(204,204,204);
      }
    }
}
  

#issues #dragTable.listing {
  tr.heading td[width="60%"] {
    width: 50%;
  }
}


/* espaiant h3*/

#content {
  h3,
  #articleSubmissions h3,
  #notifyUsers #recipients h3,
  #notifyUsers #issue h3,
  #submitStart h4,
  #issues h3 {
    padding-top: 1.8em;
    /* quiron: en apartats dedicio
     * el padding-bottom amb el top
     * del seguent elemnt fa que quedi
     * igual de lluny que el alement 
     * precedent, cal reduir, valorar
     * si afegir margin-bottom: -0.5em
     */
    padding-bottom: 0px;
  }
  div#submitStart {
    margin-bottom: 20px;
  }
  form {
    padding-top: 2.7em;
  }
  form[enctype="multipart/form-data"] {
    padding-top: 1em;
    #identification h3 {
    padding-top: 1.5em;
    }
  }
}

#issues tr td.headseparator {
  padding-top: 2.2em;
}

/* botons */

#content {
  #copyedit table.data td.value a.action,
  #copyedit table.info td a.action,
  #proofread table.data td.value a.action,
  #layout table.info td a.action,
  #layout #layoutEditors table.data td.value a.action,
  #announcementList a.action,
  #announcementTypes table.listing a.action,
  #announcementTypes a.action,
  #groups table#dragTable td a.action,
  div#groups a.action,
  /*table.listing a.action,*/
  #sections a.action,
  #emails a.action,
  #submissionEmailLog a.action,
  #submissionNotes a.action,
  #reviewForms a.action {
    font: {
      family: Bariol_regularregular;
      size: 0.9em; }
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5em;
    color: #ffffff;
    background-color: #E94B63;
    padding: 0 4px;
    &:hover {
      color: #000;
    }
  }
}

#content #announcementTypes table.listing {
  margin-bottom: 10px;
}

/* manager setup */

#content ol li {
  line-height: 3em;
  margin-bottom: -80px;
  margin-top: -60px;
  a:hover {
    color: #454545;
  }
}
#content ol #member li {
  line-height: 1em; 
  margin-bottom: 0px;
  margin-top: 0px; 
}
/* overwritte for author/submit/1 */
#content {
  div#uploadInstructions,
  div#copyrightNotice {
    ol li {
      line-height: 1.4em;
      margin-bottom: 0px;
      margin-top: 0px;
    }
    p {
      margin-top: 1em;
    }
  }
  div#submissionFile,
  div#commentsForEditor {
  }
}

#content form /*#journalHomepageHeader*/ {
  #journalTitleAndLogo h4,
  #journalLogoImage h4,
  #journalDescription h4,
  #homePageImage h4,
  #currentIssue h4,
  #additionalContent h4,
  #journalPageHeaderInfo #pageHeaderTitle h4,
  #journalPageHeaderInfo #journalLogo h4,
  #journalPageHeaderInfo #journalFavicon h4,
  #journalPageHeaderInfo #alternateHeader h4,
  #infoForReaders h4,
  #infoForAuth h4,
  #infoForLibs h4 {
  margin-bottom: 0.5em;
  margin-top: -1.2em;
  }
}

.defaultSkin table.mceLayout tr.mceLast td {
  padding-bottom: 14px;
}

#content #journalLayout table td select.selectMenu {
  width: 250px !important;
  margin-top: 10px;
}

div#content form {
  #journalHomepageHeader,
  #journalHomepageContent,
  #journalPageHeaderInfo, 
  #journalPageFooterInfo,
  #navigationBar,
  #journalLayout,
  #setupInfo,
  #lists {
    h3 {
      margin-bottom: -1em;
    }
    p {
      font-size: 1.1em;
    }
  }
  #submissionPreparationChecklist p {
    font: {
      family: Bariol_regularregular;
      size: 1em;
    }
    margin-top: 30px;
  }
  #forAuthorsToIndexTheirWork table.data td.value h4 {
    margin-top: -35px;
  }
  #securitySettings,
  #publicationScheduling,
  #publicIdentifier,
  #announcementsSection,
  #copyediting,
  #copyeditInstructionsSection,
  #layoutAndGalleys, 
  #proofreading {
     h4 {
    padding-top: 0.9em;
    padding-bottom: 0.8em;
    }
  }
  #layoutAndGalleys #referenceLinking ol li {
    line-height: 1em;
    margin: 0px;
  }
}

/* Estadistiques*/

div#content #statistics form table.data {
  margin-top: -50px;
  td.label {
    width: 40%;
    input {
      margin-right: 10px;
    } 
  }
}

/*Anuncios*/

div#content #announcementList table.listing tbody tr.heading {
  td:first-of-type {
    width: 6%;
  }
  td:last-of-type {
    width: 5%;
    padding-left: 10px;
  }
  td {
    padding-left: 10px;
  }
}

/* Equipo de trabajo */

div#content {
  form[method="post"] {
    /* quiron, de 1.4 a 1.8*/
    line-height: 1.8em;
  }
  #groups table#dragTable.listing tbody tr.heading td[width="25%"] {
    text-align: center;
  }
  #groups table#dragTable td a.action:first-of-type {
    margin-left: 135px;
  }
  #groups table#dragTable.listing {
    margin-bottom: 10px;
  }
}

/**
 * Estil per mceEditor WYSiWYG
 */
#description_parent,
#descriptionShort_parent {
  .mceLayout {
    /** tot lample disponible **/
    width: 100%;
    width: 100% !important;
  }
}
