

#results table.listing {
  color: #E94B63;
  font-family: LatoRegular;
  font-size: 0.9em;
  line-height: 1.2em;
  padding-right: 30px;
  text-align: left;
  text-decoration: none;
  word-spacing: normal;
  tr.heading {
    line-height: 1.3em;
    font-size: 1.1em;
  }
  tr:last-of-type {
    font: {
      family: Bariol_regularregular; }
    color: #000000;
    a {
      color: #E94B63;
      font-family: Bariol_regularregular;
      &:hover {
        color: #6d6d6d;
      }
    }
  }
  td[align="right"] {
    width: 17%;
  }
  td:first-of-type {
    width: 40%;
    padding-right: 10px;
  }
  td:nth-of-type(2) {
    padding-left: 10px;
    width: 40%;
  }
  tr td[colspan="3"] {
    font: {
      family: LatoLight;
      style: none !important;
      size: 0.9em; }
    color: #454545;
    padding: {
      top: 4px;
      right: 130px;
      bottom: 10px;
      left: 299px !important; }
    line-height: 1.2em;
  }
  a {
    color: #000000;
    font-family: LatoItalic;
    font-size: 1em;
    line-height: 1.1em;
    &:hover {
      color: #6d6d6d;
    }
  }
  a.file {
    font-size: 0.9em;
    display: block;
    font-family: Bariol_regularregular;
    text-transform: none;
    float: right;
  }
  tr td[colspan="3"].separator {
    border-top: 1px solid #f0f0f0;
    line-height: 0px;
    padding-bottom: 5px;
  }
}  
