

div#main div#content div#authors {
  font-size: 0.9em;
  div {
    font-size: 1.12em;
  }
  a {
    font-size: 1.12em;
    &:hover {
      color: #6d6d6d;
    }
  }
  strong ~ a {
    font-size: 1em;
  }
  h3 {
    margin-bottom: 0px;
  }
}
